/* ---------Common Css--------- */














/* ---------Slider Dots--------- */
.slider-Banner-container .slick-dots {
    bottom: -25px !important;
}
.slider-Banner-container .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #FB2E86 !important;
}
.slider-Banner-container .slick-dots li button:before {
    transition: 500ms ease-in-out all;
    opacity: .8 !important;
    width: 10px !important;
    height: 10px !important;
    content: '' !important;
    border: 2px solid #FB2E86;
    transform: rotate(45deg);
}
/* ----Featured Dots  */
.slider-Featured-container .slick-dots {
    bottom: -70px !important;
}
.slider-Featured-container .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #FB2E86 !important;
}
.slider-Featured-container .slick-dots li button:before {
    content: '' !important;
    transition: 500ms ease-in-out all;
    opacity: .3 !important;
    width: 24px !important;
    height: 4px !important;
    border-radius: 10px;
    background: #FB2E86;

}
/* --------Category Dost  */
.slider-Category-container .slick-dots {
    bottom: -70px !important;
}
.slider-Category-container .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #FB2E86 !important;
}
.slider-Category-container .slick-dots li button:before {
    content: '' !important;
    transition: 500ms ease-in-out all;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    border: 1px solid #FB2E86;

}