/* ---------Common Css--------- */
#NewsLater{
    background-image: url(../src/assets/images/NewslaterBg.png);
    background-size: cover;
    background-position: center;
}
#UlHover{
    position: relative;
}
#UlHover::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    border-radius: 2px;
    background-color: #FB2E86;
    transition: all ease-in-out 300ms;
}
#UlHover:hover::after{
    width: 100%;
}
/* -------------Hover tooltip----------- */
.ShopButton .tooltip {
  position: absolute;
  top: 45px;
  left: -6px;
  opacity: 0;
  background-color: transparent;
  background-image: linear-gradient(147deg, #151875 0%, #151875 74%);
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.ShopButton .tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #151875;
  background-size: 100%;
  background-position: center;
  transform: rotate(45deg);
  top: -15%;
  transition-duration: 0.3s;
}

.ShopButton:hover .tooltip {
    top: 55px;
    opacity: 1;
    left: -6px;
    transition-duration: 0.3s;
}
/* -------------WishList------------------ */
.wishlist .WishlistTooltip {
  position: absolute;
  top: 45px;
  left: 33px;
  opacity: 0;
  background-color: transparent;
  background-image: linear-gradient(147deg, #1389FF 0%, #1389FF 74%);
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.wishlist .WishlistTooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #1389FF;
  background-size: 100%;
  background-position: center;
  transform: rotate(45deg);
  top: -15%;
  transition-duration: 0.3s;
}

.wishlist:hover .WishlistTooltip {
    top: 55px;
    opacity: 1;
    left: 33px;
    transition-duration: 0.3s;
}












/* ---------Slider Dots--------- */
.slider-Banner-container .slick-dots {
    bottom: -25px !important;
}
.slider-Banner-container .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #FB2E86 !important;
}
.slider-Banner-container .slick-dots li button:before {
    transition: 500ms ease-in-out all;
    opacity: .8 !important;
    width: 10px !important;
    height: 10px !important;
    content: '' !important;
    border: 2px solid #FB2E86;
    transform: rotate(45deg);
}
/* ----Featured Dots  */
.slider-Featured-container .slick-dots {
    bottom: -70px !important;
}
.slider-Featured-container .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #FB2E86 !important;
}
.slider-Featured-container .slick-dots li button:before {
    content: '' !important;
    transition: 500ms ease-in-out all;
    opacity: .3 !important;
    width: 24px !important;
    height: 4px !important;
    border-radius: 10px;
    background: #FB2E86;

}
/* --------Category Dost  */
.slider-Category-container .slick-dots {
    bottom: -70px !important;
}
.slider-Category-container .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background: #FB2E86 !important;
}
.slider-Category-container .slick-dots li button:before {
    content: '' !important;
    transition: 500ms ease-in-out all;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    border: 1px solid #FB2E86;
}