@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* -------------TailWind css--------- */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
/* -------------Themes--------- */
@theme{
  --font-josefin: "Josefin Sans", "sans-serif";
  --font-lato: "Lato", "sans-serif";
  --color-brand: #FB2E86;
  --color-primary: #1A0B5B;
  --color-NavyBlue: #0D0E43;
  --color-subText: #8A8FB9;
  --color-brandWhite: #F1F1F1;
  --color-borderCol: #E7E6EF;
}
/* -------------Others--------- */